body {
  background: linear-gradient(135deg, #0033cc, #990099)
}
  
td {
  border: solid 1px black;
  border-radius: 10%;
  height: 50px;
  width: 50px;
  background-color: white;
  opacity: 1;
  transition: opacity 2s;
}

.container {
  height: 100%;
}

table {
  border-collapse: collapse;
}

#playButton {
  width: 80px;
  height: 80px;
}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
  left: 0;
  transition: left 2s, opacity 1s;
}

.white-case {
    background-color: white;
}

.black-case {
  background: radial-gradient(#292d38, #3c6382);
}

.player1 {
  background: green;
}

.player2 {
  background: red;
}

.active {
  border: 2px solid black;
  box-shadow: 0px 0px 10px black;
}

.point {
  background-image: url(img/point.png);
  background-size: auto 100%;
  z-index: 5;
}

.couteau {
  background-image: url(img/couteau.png);
  background-size: auto 100%;
  z-index: 5;
}

.pistolet {
  background-image: url(img/pistolet.png);
  background-size: auto 100%;
  z-index: 5;
}

.fusilleAPompe {
  background-image: url(img/fusilleAPompe.png);
  background-size: auto 100%;
  z-index: 5;
}

.logo {
  background-image: url(img/LogoGeff.png);
  width: 150px;
  margin: 20 20px;
}

.titlePlayer {
  padding-left: 3em !important;
  margin-top: 1em;
  margin-bottom: 1em;
}

#infoPlayer .btn {
  margin-bottom: 1em;
  margin-right: 1em;
}

#lignTurnsLeft {
  margin-top : 2em;
  margin-bottom : 2em;
}

#turnsLeft {
  font-size: 2em;
  font-weight: 600;
}